@keyframes lds-blocks {
    0% {
        background: #f6eddc;
    }
    12.5% {
        background: #f6eddc;
    }
    12.625% {
        background: #f08d43;
    }
    100% {
        background: #f08d43;
    }
}

@-webkit-keyframes lds-blocks {
    0% {
        background: #f6eddc;
    }
    12.5% {
        background: #f6eddc;
    }
    12.625% {
        background: #f08d43;
    }
    100% {
        background: #f08d43;
    }
}

.lds-blocks {
    position: relative;
    margin: auto;
}

.lds-blocks div {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #f08d43;
    -webkit-animation: lds-blocks 1s linear infinite;
    animation: lds-blocks 1s linear infinite;
}

.lds-blocks {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}