<div class="servicios">
    <h1 id="title">SERVICIOS</h1>
    <div class="franja"></div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <img src="./../../../assets/img/planteamiento.png" alt="">
            <h1>Planeamiento</h1>
            <p>
                Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en Editar Texto o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir a tus usuarios saber más sobre ti.
            </p>
        </div>
        <div class="col-4">
            <img src="./../../../assets/img/maquetas.png" alt="">
            <h1>Maquetas</h1>
            <p>
                Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en Editar Texto o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir a tus usuarios saber más sobre ti.
            </p>
        </div>

        <div class="col-3">
            <img src="./../../../assets/img/construccion.png" alt="">
            <h1>Construcción</h1>
            <p>
                Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en Editar Texto o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir a tus usuarios saber más sobre ti.
            </p>
        </div>
        <div class="col-1"></div>
    </div>
</div>